{% import json %}

<html>
  <head>
      <!-- meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" href="static/img/favicon.ico" />
      <link rel="stylesheet" href="static/css/base.css">
      <link rel="stylesheet" href="static/css/collab-ui.min.css" />
      <link rel="stylesheet" href="static/css/momentum-ui.min.css" />
      <link rel="stylesheet" href="static/css/bootstrap-4.4.1.min.css">
      <link rel="stylesheet" href="static/css/font-awesome-4.7.0.min.css">

      <script src="static/js/jquery-3.4.1.min.js"></script>
      <script src="static/js/bootstrap-4.4.1.min.js"></script>

      <script type="text/javascript">
        //these variables inside brackets are passed into this html template (python-tornado) by the backend (server.py)
        webexAvatar = "{{ webex_user.get('avatar') }}";
        console.log(webexAvatar);
        if(webexAvatar == "None"){
          webexAvatar = "static/img/user.png";
        }

        zoomUser = "{{ zoom_user }}";
        console.log("zoomUser");
        console.log(zoomUser);
        zoomPath = "{{ zoom_oauth_path }}";

        msftUser = "{{ msft_user }}";
        console.log("msftUser");
        console.log(msftUser);
        msftPath = "{{ msft_oauth_path }}";

      </script>
      <script src="static/js/main.js"></script>

      <title>{% block title %}Integration Samples{% end %}</title>
      {% block styles %}{% end %}
      {% block scripts %}{% end %}
  </head>
  <body>
      <div class="myheader">
        <header class="md-top-bar md-top-bar--dark headerrow" role="navigation">
          <div class="md-top-bar__container">
            <div class="md-top-bar__brand">
              <a class="md-brand" href="/">
                <div class="md-brand__logo md-brand__logo--pad">
                  <img src="static/img/webex-logo_128.png"></img>
                </div>
                <div id="main-title" class="md-brand__title">Integration Samples</div>
              </a>
            </div>
          </div>
        </header>
      </div>
      <div class="mainrow">
        <h3>Webex OAuth<img src="static/img/check-mark.png" class="alert-image left-spacer" /></h3>
        <div class="alert alert-success default-cursor" role="alert">
          <img src="static/img/webex-logo_128.png" class="alert-image" />
          Successfully Signed in to Webex!
          <img id="webexAvatar" src="" class="alert-image avatar-logo left-spacer right-float-img" />
        </div>
        <!-- The Zoom div and Mircosoft Divs are optional-->
        <!-- python-tornado's template system allows us to put these divs as conditionals -->
        <!-- checkout the render() func in server.py for how the python variables are passed into this page/template -->
        {% if zoom_oauth_path != None %}
          <h3>Zoom OAuth <img id="zoomCompleteImg" src="static/img/check-mark.png" class="alert-image left-spacer" style="display:none"/></h3>
          <div id="zoomSignInDiv" class="alert alert-primary enable-cursor" role="alert">
            <button type="button" class="btn btn-primary">Sign In</button> to Zoom.
          </div>
        {% end %}
        {% if msft_oauth_path != None %}
          <h3>Microsoft Azure OAuth<img id="msftCompleteImg" src="static/img/check-mark.png" class="alert-image left-spacer" style="display:none"/></h3>
          <div id="msftSignInDiv" class="alert alert-primary enable-cursor" role="alert">
            <button id="msftSignInButton" type="button" class="btn btn-primary">Sign In</button> to Microsoft.
          </div>
        {% end %}
      </div>
    </body>
</html>
