{% import json %}

<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" href="static/img/favicon.ico" />
      <link rel="stylesheet" href="static/css/base.css">
      <link rel="stylesheet" href="static/css/collab-ui.min.css" />
      <link rel="stylesheet" href="static/css/momentum-ui.min.css" />
      <link rel="stylesheet" href="static/css/bootstrap-4.4.1.min.css">
      <link rel="stylesheet" href="static/css/font-awesome-4.7.0.min.css">

      <script src="static/js/jquery-3.4.1.min.js"></script>
      <script src="static/js/bootstrap-4.4.1.min.js"></script>

      <script type="text/javascript">
        webexAvatar = "{{ webex_user.get('avatar') }}"; //these values inside brackets are passed into this html template by the backend (server.py)
        console.log(webexAvatar);
        if(webexAvatar == "None"){
          webexAvatar = "static/img/user.png";

        zoomUser = "{{ zoom_user }}";
        console.log("zoomUser");
        console.log(zoomUser);
        zoomPath = "{{ zoom_oauth_path }}";

        msftUser = "{{ msft_user }}";
        console.log("msftUser");
        console.log(msftUser);
        msftPath = "{{ msft_oauth_path }}";

        }
      </script>
      <script src="static/js/main.js"></script>

      <title>{% block title %}Integration Samples{% end %}</title>
      {% block styles %}{% end %}
      {% block scripts %}{% end %}
  </head>
  <body>
      <div class="myheader">
        <header class="md-top-bar md-top-bar--dark headerrow" role="navigation">
          <div class="md-top-bar__container">
            <div class="md-top-bar__brand">
              <a class="md-brand" href="/">
                <div class="md-brand__logo md-brand__logo--pad">
                  <img src="static/img/webex-logo_128.png"></img>
                </div>
                <div id="main-title" class="md-brand__title">Integration Samples</div>
              </a>
            </div>
          </div>
        </header>
      </div>
      <div class="mainrow">
        <h3>Step 1<img src="static/img/check-mark.png" class="alert-image left-spacer" /></h3>
        <div class="alert alert-success default-cursor" role="alert">
          <img src="static/img/webex-logo_128.png" class="alert-image" />
          Successfully Signed in to Webex!
          <img id="webexAvatar" src="" class="alert-image avatar-logo left-spacer right-float-img" />
        </div>
        <h3>Step 2<img id="zoomNextStepImg" src="static/img/next-step.png" class="alert-image left-spacer" /><img id="zoomCompleteImg" src="static/img/check-mark.png" class="alert-image left-spacer" style="display:none"/></h3>
        <div id="zoomSignInDiv" class="alert alert-primary enable-cursor" role="alert">
          <button type="button" class="btn btn-primary">Sign In</button> to Zoom.
          <img id="zoomRightArrowImg" src="static/img/right-arrow.png" class="alert-image left-spacer right-float-img" style="display:none" />
        </div>
        <h3>Step 3<img id="msftNextStepImg" src="static/img/next-step.png" class="alert-image left-spacer" style="display:none" /><img id="msftCompleteImg" src="static/img/check-mark.png" class="alert-image left-spacer" style="display:none"/></h3>
        <div id="msftSignInDiv" class="alert alert-secondary disable-cursor" role="alert">
          <button id="msftSignInButton" type="button" class="btn btn-primary">Sign In</button> to Microsoft.
          <img id="msftRightArrowImg" src="static/img/right-arrow.png" class="alert-image left-spacer right-float-img" style="display:none" />
        </div>
      </div>
    </body>
</html>
